<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= auto_discovery_link_tag :atom, posts_path(:format => :atom) %> 
  <!--auto_dis... is used for webpage to be subscribed in browswer through 'subscribe this page' -->
</head>
<body>
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= render partial: 'layouts/header' %>		      
		<%= yield %>

      <!-- %= debug(params) if Rails.env.development? %-->
</body>
</html>
